<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="text/css" th:src="@{/images/favicon.png}">
    <title>Green Mission</title>
    <!-- CSS FILES START -->
    <link type="text/css" th:href="@{/css/custom.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/color.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/responsive.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/owl.carousel.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/all.min.css}" rel="stylesheet">
    <!-- CSS FILES End -->
    <!--   JS Files Start  -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/jquery-migrate-1.4.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.prettyPhoto.js}"></script>
    <script th:src="@{/js/isotope.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</head>
<body>
<div class="wrapper">
    <!--Header Start-->
    <header class="header-style-2">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand"> <b style="color: lightgoldenrodyellow">Green Mission</b>
                <!--                <img th:src="@{/images/logo21.png}" alt="">-->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="fas fa-bars"></i></button>
        </nav>
    </header>
    <div id="search">
        <button type="button" class="close">×</button>
        <form class="search-overlay-form">
            <input type="search" value="" placeholder="type keyword(s) here"/>
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <!--Header End-->
    <!--Inner Header Start-->
    <section class="wf100 p100 inner-header">
        <div class="container">
            <h1  th:text="#{l.my.ac}">My Account</h1>
            <ul>
                <li><a href="#" th:text="#{l.home}">Home</a></li>
                <li><a href="#" th:text="#{l.my.ac}"> My Account </a></li>
            </ul>
        </div>
    </section>
    <!--Inner Header End-->
    <!--Causes Start-->
    <section class="wf100 p80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="myaccount-form">
                        <h3 th:text="#{l.reg.ac}">Register Your Account</h3>
                        <form th:object="${userForm}" action="#" th:action="@{/registration}" method="post">

                            <div class="alert alert-success" role="alert" th:if="${message}" th:text="#{login.logout.alert}"></div>
                            <div class="alert alert-danger" role="alert" th:if="${error}" th:text="#{login.error.alert}"></div>

                            <div th:if="${#fields.hasErrors('*')}">
                                <div th:each="e : ${#fields.detailedErrors()}"
                                     th:class="${e.global} ? globalerr : fielderr">
                                    <p class="alert alert-danger" role="alert" th:text="${e.message} ">The error message</p>
                                </div>
                            </div>

                            <ul class="row">
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input name="name" type="text" class="form-control" th:placeholder="#{reg.u.name}" required>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input name="contactNumber" type="text" class="form-control"  th:placeholder="#{reg.contact.no}"
                                               required>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input  name="email" type="text" class="form-control" th:placeholder="#{reg.email.a}" required>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input name="username" type="text" class="form-control" th:placeholder="#{u.name}">
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input class="form-control" name="password" th:placeholder="#{reg.pwd}" type="password">
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input class="form-control" name="passwordConfirm" th:placeholder="#{reg.pwd.2}"
                                               type="password">
                                    </div>
                                </li>
                                <li class="col-md-12">
                                    <div class="input-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1" th:text="#{l.agre.terms}">I agree to the Terms of <a
                                                href="#">Services & Privacy Policy</a></label>
                                    </div>
                                </li>
                                <li class="col-md-12">
                                    <button class="register" th:text="#{reg.conf}">Register Your Account</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="login-box">
                        <h3>Login Account</h3>
                        <form action="#" th:action="@{/login}"  method="post">
                            <div class="input-group">
                                <input id="username" name="username" type="text" class="form-control" th:placeholder="#{login.uname}" required>
                            </div>
                            <div class="input-group">
                                <input id="password" name="password" type="password" class="form-control" th:placeholder="#{login.pwd}" required>
                            </div>
                            <div class="input-group">
                                <button type="submit" class="login-btn" th:text="#{login.confirm}">Login Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Causes End-->
    <!--Footer Start-->
    <footer class="footer">
        <div class="footer-top wf100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <!--Footer Widget Start-->
                        <div class="footer-widget">
                            <h4 th:text="#{l.ab.gre.mis}">About Green Mission</h4>
                            <p th:text="#{l.if.any.econ}"> If anything’s hot in today’s economy, it’s saving money, including a broad range of
                                green businesses helping people save energy, water, and other resources. Definitely, you
                                can go with this business as it is a nothing but the future. </p>
                            <a href="#" class="lm">About us</a>
                        </div>
                        <!--Footer Widget End-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <!--Footer Widget Start-->
                        <div class="footer-widget">
                            <h4 th:text="#{l.our.prom}">Our Promises</h4>
                            <ul class="quick-links">
                                <li><a th:text="#{l.emis}" href="#">CO<sub>2</sub> Emissions</a></li>
                                <li><a th:text="#{l.sol.enr}" href="#">Solar Energy</a></li>
                                <li><a th:text="#{l.wastman}" href="#">Waste Management</a></li>
                                <li><a th:text="#{l.eco.idea}" href="#">Eco Ideas</a></li>
                                <li><a th:text="#{l.rec.mat}" href="#">Recycling Materials</a></li>
                                <li><a th:text="#{l.plant.ecol}" href="#">Plant Ecology</a></li>
                                <li><a th:text="#{l.sav.wildli}" href="#">Saving Wildlife </a></li>
                            </ul>
                        </div>
                        <!--Footer Widget End-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <!--Footer Widget Start-->
                        <div class="footer-widget">
                            <h4 th:text="#{l.latest.posts}">Latest Posts</h4>
                            <ul class="lastest-products">
                                <li><img th:src="@{/images/flp1.jpg}" alt=""> <strong th:text="#{l.how.can.keep.wild.an}"><a href="#">How you
                                    can keep
                                    alive wild animals for...</a></strong> <span class="pdate"><i>Posted:</i> 29 September, 2022</span>
                                </li>
                                <li><img th:src="@{/images/flp2.jpg}" alt=""> <strong th:text="#{l.eliminate.ur.plastic}"><a href="#">Eliminate
                                    your
                                    plastic bottle pollution & keep...</a></strong> <span class="pdate"><i>Posted:</i> 21 October, 2022</span>
                                </li>
                                <li><img th:src="@{/images/flp3.jpg}" alt=""> <strong><a href="#" th:text="#{l.how.can.keep.wild.an}">How you
                                    can keep
                                    alive wild animals for...</a></strong> <span class="pdate"><i>Posted:</i> 02 December, 2022</span>
                                </li>
                            </ul>
                        </div>
                        <!--Footer Widget End-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyr wf100">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <a class="navbar-brand"> <b style="color: lightgoldenrodyellow">Green Mission</b></a>
                        <!--                        <img th:src="@{/images/logo.png}" alt="">-->
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <p>Stanislav Holovachuk</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer End-->
</div>

</body>


</html>