<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title th:text="#{home}"></title>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
</head>
<body>
<div th:replace="fragments/navbar :: navbar">&nbsp;</div>
<h1 class="mb-5 ml-5" style="text-align: center;" th:text="#{home.user.header}"></h1>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>
