<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cabinet</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS FILES START -->
    <link type="text/css" th:href="@{/css/all.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/stylecab.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/mystyles.css}" rel="stylesheet">
    <!-- CSS FILES End -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body class="fixed-nav sticky-footer" id="page-top">

<!-- Navigation-->
<div th:replace="user/nav :: nav">&nbsp;</div>

<div class="content-wrapper content-wrapper-my">
    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Cabinet</a>
            </li>
            <li class="breadcrumb-item active">My Cars</li>
        </ol>

        <div class="container-fluid">
            <div class="row">
                <div class="w-100 p-5 d-lg-flex flex-row justify-content-center">

                    <th:block th:each="car : ${cars}">

                        <div class="card mx-auto col-lg-2 col-sm-6 ">
                            <div class="card-body">
                                <h6 class="card-title card-title-my" th:text="${car.name} + ' ' + ${car.yearManufactured}"></h6>
                                <!--<img alt="..." class="card-img-top car-img-my" src="https://eskipaper.com/images/	peugeot-onyx-concept-1.jpg">-->
                                <!-- <img th:src="${'picCar' + car.id} == null ? _ : @{'data:image/png;base64,'+${'picCar' + car.id}}">-->
                                <img class="card-img-top" th:src="@{'/user/car/' + ${car.id} + '/image'}">
                                <p class="card-text text-dark"><strong th:text="'Engine: ' + ${car.engineSize}"></strong></p>
                                <p class="card-text text-dark"><strong th:text="'Cylinders: ' + ${car.cylinders}"></strong></p>
                                <p class="card-text text-danger"><strong th:text="'Fuel Cons.: ' + ${car.fuelConsumptionComb}"></strong></p>
                                <p class="card-text text-danger"><strong th:text="'Fuel type: ' + ${car.fuelType.value}"></strong></p>
                                <a class="btn btn-outline-secondary"
                                   th:href="@{/user/car/{carId}/edit(carId=${car.id})}">Edit
                                    props.</a>
                                <form class="d-inline" th:action="@{/user/car/{carId}(carId=${car.id})}" th:method="delete">
                                    <input name="_method" type="hidden" value="DELETE">
                                    <input name="id" th:value="${car.id}" type="hidden" />
                                    <button class="btn btn-danger btn-sm rounded-0" data-placement="top" data-toggle="tooltip" title="Delete"
                                            type="submit"><i class="fa fa-trash"></i></button>
                                </form>
                            </div>
                        </div>

                    </th:block>

                </div>
            </div>
        </div>

        <br>
        <br>
        <div class="container mt-2">
            <div class="row">
                <!--                <div class="form-group col-md-1">-->
                <!--                    <select class="pgselect form-control pagination bg-light " id="pageSizeSelect">-->
                <!--                        <option class="text-center mx-auto" th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"-->
                <!--                                th:selected="${pageSize} == ${selectedPageSize}"></option>-->
                <!--                    </select>-->
                <!--                </div>-->

                <div th:if="${cars.totalPages > 1}" class="form-group col-md-11 pagination-centered">
                    <ul class="pagination justify-content-center font-weight-medium">
                        <li class="page-item" th:class="${cars.number == 0} ? disabled">
                            <a class="page-link bg-light" th:href="@{/user/car/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                        </li>

                        <li class="page-item" th:disabled="${cars.number == 0}" th:class="${cars.number == 0} ? disabled">
                            <a class="page-link  bg-light" th:disabled="${cars.number == 0}"
                               th:href="@{/user/car/(pageSize=${selectedPageSize}, page=${cars.number})}">&larr;</a>
                        </li>

                        <li class="page-item" th:class="${cars.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                            <a class="page-link bg-light" th:href="@{/user/car/(pageSize=${selectedPageSize}, page=${page})}"
                               th:text="${page}"></a>
                        </li>

                        <li class="page-item" th:disabled="${cars.number + 1 == cars.totalPages}"
                            th:class="${cars.number + 1 == cars.totalPages} ? disabled">
                            <a class="page-link  bg-light" th:disabled="${cars.number + 1 == cars.totalPages}"
                               th:href="@{/user/car/(pageSize=${selectedPageSize}, page=${cars.number + 1 >= cars.totalPages ? cars.totalPages :
                               cars.number + 2})}">&rarr;
                            </a>
                        </li>

                        <li class="page-item" th:class="${cars.number + 1 == cars.totalPages} ? disabled">
                            <a class="page-link bg-light"
                               th:href="@{/user/car/(pageSize=${selectedPageSize}, page=${cars.totalPages})}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <div th:replace="user/footer :: footer">&nbsp;</div>
        <!-- Scroll to Top Button-->
        <div th:replace="user/scrolltop :: scrolltop">&nbsp;</div>
        <!-- Logout Modal-->
        <div th:replace="user/logoutmodal :: logoutmodal">&nbsp;</div>

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


<!--<div class="card mx-auto col-lg-2 col-sm-6 ">-->
<!--    <img src="https://eskipaper.com/images/		mercedes-benz-1.jpg" class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">Mercedes Benz</h5>-->
<!--        <p class="card-text text-success"><strong>37,000 $</strong></p>-->
<!--        <p class="card-text text-muted"><s>37,500 $</s></p>-->
<!--        <a href="#" class="btn btn-outline-secondary">Buy now</a>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="card mx-auto col-lg-2 col-sm-6 ">-->
<!--    <img src="https://eskipaper.com/images/mclaren-p1-sunrise-1.jpg" class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">Mclaren p1 sunrise</h5>-->
<!--        <p class="card-text text-success"><strong>4,289,500 $</strong></p>-->
<!--        <p class="card-text text-muted"><s>4,300,000 $</s></p>-->
<!--        <a href="#" class="btn btn-outline-secondary">Buy now</a>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="card mx-auto col-lg-2 col-sm-6 ">-->
<!--    <img src="https://eskipaper.com/images/	mercedesbenz-cls-63-car-1.jpg" class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">Mercedes-Benz CLS 63 Car</h5>-->
<!--        <p class="card-text text-success"><strong>298,999 $</strong></p>-->
<!--        <p class="card-text text-muted"><s>299,999 $</s></p>-->
<!--        <a href="#" class="btn btn-outline-secondary">Buy now</a>-->
<!--    </div>-->
<!--</div>-->


</body>
</html>