<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New trip</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS FILES START -->
    <link type="text/css" th:href="@{/css/all.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/stylecab.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/mystyles.css}" rel="stylesheet">
    <!-- CSS FILES End -->
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<div th:replace="user/nav :: nav">&nbsp;</div>
<div class="content-wrapper content-wrapper-my">

    <section class="popup">
        <div class="popup__content">
            <div class="close">
                <span></span>
                <span></span>
            </div>
            <span id="successCO2"></span>
        </div>
    </section>


    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Cabinet</a>
            </li>
            <li class="breadcrumb-item active">Ride test trip</li>
        </ol>

        <div class="container">

            <section class="panel panel-default">

                <div class="panel-body panel-body-my">
                    <form th:object="${tripForm}" action="#" th:action="@{/user/co2}" method="post">

                        <div style="text-align: center" id="successAlert" class="alert alert-success" role="alert">
                            <h3>Calculate the CO<sub>2</sub> emissions of your car journey</h3>
                            <p style="text-align: left">
                                When calculating the CO<sub>2</sub> emissions of your trip, there are also small things that are important for
                                the
                                calculation. For example, when you travel by car, you need more fuel if you have a caravan behind your exhaust or
                                if you have a roof box or bicycle rack with you. In general, the more weight you carry, the more polluting the
                                car journey is and the more CO<sub>2</sub> your car emits. There are a number of standard calculations that you
                                can use when
                                traveling by car. For example, with diesel you emit an average of 132 gr of CO<sub>2</sub> per kilometer, while
                                with petrol
                                this is 120 CO<sub>2</sub> per kilometer . These emissions are calculated on average consumption. This can
                                therefore differ
                                greatly based on weight and car.
                            </p>
                        </div>

                        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>

                        <h3 class="form-group-my">Car Info</h3>
                        <hr>
                        <div class="form-group form-group-my">
                            <label class="col-sm-3 control-label" for="yearManufactured">In which year car is manufactured</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="yearManufactured" name="yearManufactured" placeholder="e.g. 2012" required
                                       type="number">
                            </div>
                        </div>

                        <div class="form-group form-group-my">
                            <label for="engineSize" class="col-sm-3 control-label">What is engine size</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="engineSize" name="engineSize" placeholder="e.g. 1.6" required step=".01"
                                       type="number">
                            </div>
                        </div>
                        <div class="form-group form-group-my">
                            <label for="cylinders" class="col-sm-3 control-label">How mane cylinders</label>
                            <div class="col-sm-9">
                                <input required type="number" class="form-control" name="cylinders" id="cylinders" placeholder="e.g. 4">
                            </div>
                        </div>
                        <div class="form-group form-group-my">
                            <label for="fuelConsumptionComb" class="col-sm-3 control-label">What is fuel consumption (comb.)</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="fuelConsumptionComb" name="fuelConsumptionComb" required step=".01" type="number"
                                       placeholder="e.g. 7.5">
                            </div>
                        </div>
                        <div class="form-group form-group-my">
                            <label class="col-sm-3 control-label" for="fuelType">Choose fuel type</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="fuelType" name="fuelType" required>
                                    <th:block th:each="fuelT : ${fuelTypes}">
                                        <option th:text="${fuelT.value}" th:value="${fuelT.value}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>


                        <div style="text-align: center; margin-bottom: 2rem; margin-top: 2rem" class="alert alert-warning"
                             role="alert">
                            <h5>Don't know exact characteristics of your car?</h5>
                            <p style="text-align: center">
                                Try checking it there: <a class="alert-link" href="https://www.auto-data.net/en/">https://www.auto-data.net/en/</a>
                            </p>
                        </div>

                        <h3 class="form-group-my">Ride Info</h3>
                        <hr>

                        <div class="form-group form-group-my">
                            <label for="name" class="col-sm-3 control-label">I am riding from</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="from" id="from"
                                       placeholder="e.g. Kyiv">
                            </div>
                        </div>
                        <div class="form-group form-group-my">
                            <label for="name" class="col-sm-3 control-label">I am riding to</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="to" id="to"
                                       placeholder="e.g Lviv">
                            </div>
                        </div>
                        <div class="form-group form-group-my">
                            <label for="distanceKm" class="col-sm-3 control-label">How long is distance in km?</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="distanceKm" name="distanceKm" placeholder="e.g. 715.5" required step=".1"
                                       type="number">
                            </div>
                        </div>

                        <div style="text-align: center; margin-bottom: 2rem; margin-top: 2rem" class="alert alert-warning"
                             role="alert">
                            <h5>Don't know exact distance between your points?</h5>
                            <p style="text-align: center">
                                Try checking it there: <a class="alert-link" href="https://www.distancecalculator.net/">https://www.distancecalculator.net/</a>
                            </p>
                        </div>

                        <div class="form-group form-group-my">
                            <div class="col-sm-offset-3 col-sm-9 text-center">
                                <button type="submit" class="btn btn-primary">Test!</button>
                            </div>
                        </div>


                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
<div th:replace="user/footer :: footer">&nbsp;</div>
<!-- Scroll to Top Button-->
<div th:replace="user/scrolltop :: scrolltop">&nbsp;</div>
<!-- Logout Modal-->
<div th:replace="user/logoutmodal :: logoutmodal">&nbsp;</div>


<!--   JS Files Start  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>


<script th:src="@{/js/table.js}"></script>

</body>
</html>